.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  min-height: 100vh;
  justify-content: center;
  padding-left: 32px;
  padding-right: 32px;
}

.header {
  color: #000;
  font-family: Italiana;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.urlInput {
  border: none;
  color: #000;
  font-size: 16px;
  height: 40px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 32px;
  max-width: 70vh;
  background: #d9d9d9;
  padding: 1.5rem 1.2rem;
}

.urlInput::placeholder {
  color: #9a9a9a;
  text-align: center;
}

.button {
  border-radius: 32px;
  background: #2e9bff;
  color: #fff;
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 1rem 2rem;
  transition:
    1s background-color ease-in-out,
    0.5s transform ease-in-out;
}

.button:hover {
  background: rgba(46, 155, 255, 0.9);
  transform: scale(1.1);
}
